.site-header {
  border-top: none;
  border-bottom: none;

  .wrapper {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    background: #{$background-color};
  }

  .site-title,
  nav {
    float: none;
  }

  .wrapper::before {
    content: "";
    top: 0;
    height: 59px;
    left: 0;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 50px #{$shadow-color};
    z-index: -1;

    @media screen and (min-width: $on-large) {
      left: calc(70px);
      width: calc(800px - (70px * 2));
    }
  }

  .wrapper::after {
    content: "";
    height: calc(1px * #{$z0u-trim-weight});
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background: #{$z0u-brand-color};

    @media screen and (min-width: $on-large) {
      background: linear-gradient(to right, #{$background-color}, 3%, #{$z0u-brand-color} 20%, #{$z0u-brand-color} 80%, 97%, #{$background-color});
    }
  }
}

.site-footer {
  border: none;

  p {
    color: #{$brand-color};
  }
}

.feed-subscribe .svg-icon {
  padding: 0 5px 3px 0;
  width: 1em;
  height: 1em;
}

.feed-subscribe {
  display: inline-block;
}

.feed-subscribe a {
  padding: 10px;
  padding-left: 0;
  display: inline-block;
  color: $brand-color;
}

.social-media-list {
  display: inline-block;
}

.social-media-list li {
  float: none;
  display: inline-block;
  margin: 4px;
}

.social-media-list li a {
  padding: 10px;
  border-color: transparent;
}
