$lm-shadow-color: rgba(0, 0, 0, 0.1) !default;
$dm-shadow-color: rgba(0, 0, 0, 0.35) !default;
$lm-brand-color: rgb(255, 46, 46);
$dm-brand-color: rgb(179, 32, 32);

@if $color-scheme-auto {
  :root {
    --z0u-shadow-color: #{$lm-shadow-color};
    --z0u-brand-color: #{$lm-brand-color};
    --z0u-trim-weight: 2;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --z0u-shadow-color: #{$dm-shadow-color};
      --z0u-brand-color: #{$dm-brand-color};
      --z0u-trim-weight: 1;
    }
  }
}

@else if $color-scheme-dark {
  :root {
    --z0u-shadow-color: #{$dm-shadow-color};
    --z0u-brand-color: #{$dm-brand-color};
    --z0u-trim-weight: 1;
  }
}

@else {
  :root {
    --z0u-shadow-color: #{$lm-shadow-color};
    --z0u-brand-color: #{$lm-brand-color};
    --z0u-trim-weight: 2;
  }
}

$shadow-color: var(--z0u-shadow-color);
$z0u-brand-color: var(--z0u-brand-color);
$z0u-trim-weight: var(--z0u-trim-weight);
