.site-header {
  border: none;
  // Workaround for bug in DarkReader for people who don't have "detect
  // dark theme" enabled.
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  margin-top: -5px;
  margin-bottom: -1px;

  .wrapper {
    position: relative;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    background: #{$background-color};
  }

  .site-title {
    background-image: url("/assets/egg-icon-m.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 32px;
    padding-right: calc(32px + 0.5ex);
  }

  .site-title,
  nav {
    float: none;
  }
  @media screen and (max-width: $on-large) {
    .site-nav {
      z-index: 1;
    }
  }
  @media screen and (min-width: $on-large) {
    .site-nav {
      // Workaround for bug in DarkReader for people who don't have "detect
      // dark theme" enabled.
      border-style: solid;
      border-color: transparent;
      margin: -1px;
    }
  }

  .wrapper::before {
    content: "";
    top: 0;
    height: 59px;
    left: 0;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 50px #{$shadow-color};
    z-index: -1;

    @media screen and (min-width: $on-large) {
      left: calc(70px);
      width: calc(800px - (70px * 2));
    }
  }

  .wrapper::after {
    content: "";
    height: calc(1px * #{$z0u-trim-weight});
    bottom: calc(-1px * #{$z0u-trim-weight});
    left: 0;
    width: 100%;
    position: absolute;
    background: #{$z0u-brand-color};

    @media screen and (min-width: $on-large) {
      background: linear-gradient(
        to right,
        #{$background-color},
        3%,
        #{$z0u-brand-color} 20%,
        #{$z0u-brand-color} 80%,
        97%,
        #{$background-color}
      );
    }
  }
}

.footnotes {
  font-size: small;
  margin-top: 60px;
  border-top: 1px solid #{$border-color-01};
  padding-top: 10px;
}

li {
  margin-bottom: 6px;
}
.footnotes li {
  margin-bottom: 2px;
  > p:last-child {
    margin-bottom: 0;
  }
}
.reversefootnote {
  font-family: sans-serif;
}

.site-footer {
  border: none;
  // Workaround for bug in DarkReader for people who don't have "detect
  // dark theme" enabled.
  border-top-color: transparent;
  margin-top: -1px;

  p {
    color: #{$brand-color};
  }
}

// Align dates to the right
@media screen and (min-width: $on-medium) {
  span.post-meta {
    float: right;
    font-size: 16px;
    // Adjust font leading to match headings
    // https://css-tricks.com/how-to-tame-line-height-in-css
    &::before {
      content: '';
      margin-top: 8px;
      display: block;
      height: 0;
    }
  }
}
// Fade out excerpt
ul.post-list li::after {
    content: 'x';
    display: inline-block;
    width: 400px;
    background: linear-gradient(90deg, transparent, 90%, #{$background-color});
    color: transparent;
    margin-left: -400px;
}


.feed-subscribe .svg-icon {
  padding: 0 5px 3px 0;
  width: 1em;
  height: 1em;
}

.feed-subscribe {
  display: inline-block;
}

.feed-subscribe a {
  padding: 10px;
  padding-left: 0;
  display: inline-block;
  color: $brand-color;
}

.social-media-list {
  display: inline-block;
}

.social-media-list li {
  float: none;
  display: inline-block;
  margin: 4px;
}

.social-media-list li a {
  padding: 10px;
  border-color: transparent;
}

blockquote {
  font-weight: lighter;
  font-size: 95%;
  font-style: inherit;
  i, em {
    font-style: italic;
  }
}

// Styling for figures. Append #fig-sm etc. to the src URL of Markdown images.
figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
}
figcaption {
  flex-basis: 100%;
  color: #{$brand-color};
}
figure table {
  margin-bottom: 12px;
}

img[src$="#fig-sm"] {
  width: 250px;
}
img[src$="#fig-med"] {
  width: 500px;
}
img[src$="#fig-lg"] {
  width: 800px;
}

// Youtube responsive video container
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 15px;
}
.videoWrapper > iframe, .videoWrapper > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoWrapper > button {
  cursor: pointer;
  padding: 0;
  border: none;

  img {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    background-image: url(/assets/youtube-play.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 68px;
    height: 48px;
    display: block;
    position: absolute;
    left: calc(50% - 68px / 2);
    top: calc(50% - 48px / 2);
  }
}

.if-dark {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .if-light {
    display: none;
  }
  .if-dark {
    display: unset;
  }
}

// Mermaid figure styles, dynamic light / dark
.mermaid:not([data-processed="true"]) {
  visibility: hidden;
  position: relative;
  &::after {
    content: "…";
    display: block;
    visibility: visible;
    position: absolute;
    top: calc(50% - 1em);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-weight: 900;
  }
}
.mermaid .node rect {
  fill: #{$code-background-color} !important;
  stroke: #{$border-color-01} !important;
  stroke-width: 2px !important;
}
.mermaid span {
  color: #{$text-color} !important;
}
.mermaid .edgeLabel {
  background: #{$background-color} !important;
  color: #{$text-color} !important;
}
.mermaid .marker {
  fill: #{$z0u-brand-color} !important;
  stroke: #{$z0u-brand-color} !important;
}
.mermaid .edgePaths path {
  stroke: #{$z0u-brand-color} !important;
  stroke-width: 2px !important;
}
